<%= render partial: 'shopify_bar' %>

<div id="custom-breadcumb">
  <span class="text-secondary"><%= @owner_class %> > <%= @owner.title %> </span> > New Metafield
</div>

<%= render partial: 'form' %>